<div class="row">
<h1 class="text-center page-header">いいね!した投稿</h1>
<br>
  <aside class="col-xs-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><%= @user.name %></h3>
      </div>
      <div class="panel-body">
        <img class="media-object img-rounded img-responsive" src="<%= gravatar_url(@user, { size: 500 }) %>" alt="">
      </div>
    </div>
    <%= render 'relationships/follow_button', user: @user %>
  </aside>
  <div class="col-xs-8">
    <ul class="media-list">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>ユーザー</th>
          <th>投稿</th>
          <th>投稿日時</th>
        </tr>
      </thead>
      <tbody>
        <% @microposts.each do |micropost| %>
          <tr>
            <td><%= micropost.user.name %></td>
            <td><%= micropost.content %></td>
            <td><%= micropost.created_at %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </ul>
  <%= paginate @microposts %>
  </div>
</div>